footer {
  .footer__container {
    background-color: $primary-main;
    height: 150px;
  }
  .container {
    color: white;
    padding: 30px;
    font-size: 14px;
    font-weight: 600;
    .nav-link {
      color: #fff;
      &:hover {
        opacity: 0.2;
      }
    }
  }
}
